{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product"></div>
        <h6><strong>Produk</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">Tambah ke Keranjang</button>
        <a class=" btn btn-outline-secondary" href="#">Tampilan</a>
        <h4 style="display: inline-block; float:right"><strong>20k</strong></h4>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product"></div>
        <h6><strong>Produk</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">Tambah ke Keranjang</button>
        <a class=" btn btn-outline-secondary" href="#">Tampilan</a>
        <h4 style="display: inline-block; float:right"><strong>20k</strong></h4>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product"></div>
        <h6><strong>Produk</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">Tambah ke Keranjang</button>
        <a class=" btn btn-outline-secondary" href="#">Tampilan</a>
        <h4 style="display: inline-block; float:right"><strong>20k</strong></h4>
    </div>

</div>

{% endblock content %}
